<nav>
    <div>
        <a routerLink="/home" routerLinkActive="active-link">Le offside</a>
        <a routerLink="/league" routerLinkActive="active-link">Nos ligues</a>
        <a routerLink="/offres" routerLinkActive="active-link">Nos offres</a>
        <a routerLink="/btb" routerLinkActive="active-link">B to B</a>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </div>
    <div>
        <a routerLink="/a" routerLinkActive="active-link">Reserver</a>
    </div>
</nav>