<section class="league-container">

    <div class="all-league-container">
        <div class="all-league-wrapper">
            <div>
              <img class="ligues-images" src="../../assets/images/ligue1-decathlon.jpg" alt="Ligue 1 Decathlon"/>
            </div>
            <div>
              <img class="ligues-images" src="../../assets/images/ligue2-makito.jpg" alt="Ligue 1 Decathlon"/>
            </div>
            <div>
              <img class="ligues-images" src="../../assets/images/ligue-entreprise.jpg" alt="Ligue 1 Decathlon"/>
            </div>
            <div>
              <img class="ligues-images" src="../../assets/images/ligue-feminine.jpg" alt="Ligue 1 Decathlon"/>
            </div>
            <div>
              <img class="ligues-images" src="../../assets/images/ligue-veterant.jpg" alt="Ligue 1 Decathlon"/>
            </div>
        </div>
        <app-map-icon></app-map-icon>
    </div>

</section>
