<div class="alignement-bk-red-footer">
  <div class="bk-red-design-footer right-ajustement-footer"></div>
  <div>
    <img src="../../assets/images/logo-offside.svg">
  </div>
  <div class="bk-red-design-footer left-ajustement-footer"></div>
</div>

<div class="footer-container">
    <div class="container-parts-footer">
        <div class="title-footer espace-txt-footer">LE CENTRE</div>

        <div class="left-footer">
            <div class="espace-txt-footer">LES TERRAINS</div>
            <div class="espace-txt-footer">LE BARS</div>
            <div class="espace-txt-footer">LA PIZZÉRIA</div>
            <div class="espace-txt-footer">BUBBLE FOOT</div>
            <div class="espace-txt-footer">TENNIS BALLON</div>
            <div class="espace-txt-footer">PRIVATISATION</div>
            <div class="espace-txt-footer">ANNIVERSAIRE KIDS</div>
            <div class="espace-txt-footer">STAGE KIDS</div>
            <div class="espace-txt-footer">CONTACT</div>
            <div class="espace-txt-footer">NOS LIGUES</div>
            <div class="espace-txt-footer">INFORMATION</div>
            <div class="espace-txt-footer">OFFSIDE</div>
        </div>
    </div>

    <div class="container-parts-footer">
        <div class="title-footer espace-txt-footer">NOS LIGUES</div>
        <div class="left-footer">
            <div class="espace-txt-footer">LIGUE 1 DÉCATHLON</div>
            <div class="espace-txt-footer">LIGUE 2</div>
            <div class="espace-txt-footer">LIGUE ENTREPRISE</div>
            <div class="espace-txt-footer">LIGUE VÉTÉRAN</div>
            <div class="espace-txt-footer">LIGUE FÉMININE </div>
            <div class="espace-txt-footer">LIGUE ETUDIANTE</div>
            <div class="espace-txt-footer">ANNIVERSAIRE KIDS</div>
            <div class="espace-txt-footer">E-LIGUE</div>
        </div>

    </div>

    <div class="container-parts-footer">
        <div class="title-footer espace-txt-footer">INFORMATION</div>
        <div class="left-footer">
            <div class="espace-txt-footer">NOS OFFRES</div>
            <div class="espace-txt-footer">COMPTE</div>
            <div class="espace-txt-footer">RESERVATION</div>
            <div class="espace-txt-footer">MENTION LEGALE</div>
            <div class="espace-txt-footer">POLITIQUE COOKIES</div>
            <div class="espace-txt-footer">LIGUE ETUDIANTE</div>
            <div class="espace-txt-footer">E-LIGUE</div>
        </div>
    </div>

    <div class="container-parts-footer">
        <div class="title-footer espace-txt-footer">OFFSIDE</div>
        <div class="left-footer">
            <div class="espace-txt-footer">14 Rue de la Canave<br>33650 Martillac<br>05 56 72 89 92</div>
            <div class="flex-logo-footer espace-img-footer">
                <div class="img-footer">
                    <img src="../../assets/images/discord.svg">
                </div>
                <div>
                    DISCORD
                </div>
            </div>

            <div class="flex-logo-footer espace-img-footer">
                <div class="img-footer">
                    <img src="../../assets/images/instagram.svg">
                </div>
                <div>
                    INSTAGRAM
                </div>
            </div>

            <div class="flex-logo-footer espace-img-footer">
                <div class="img-footer">
                    <img src="../../assets/images/facebook.svg">
                </div>
                <div>
                    FACEBOOK
                </div>
            </div>

            <div class="flex-logo-footer espace-img-footer">
                <div class="img-footer">
                    <img src="../../assets/images/linkedin.svg">
                </div>
                <div>
                    LINKEDIN
                </div>
            </div>

        </div>
