<div class="footer-container">

    <div>
        <div class="title-footer">LE CENTRE</div>

        <div class="left-footer">
            <div>LES TERRAINS</div>
            <div>LE BARS</div>
            <div>LA PIZZÉRIA</div>
            <div>BUBBLE FOOT</div>
            <div>TENNIS BALLON</div>
            <div>PRIVATISATION</div>
            <div>ANNIVERSAIRE KIDS</div>
            <div>STAGE KIDS</div>
            <div>CONTACT</div>
            <div>NOS LIGUES</div>
            <div>INFORMATION</div>
            <div>OFFSIDE</div>
        </div>
    </div>

    <div>
        <div class="title-footer">NOS LIGUES</div>
        <div class="left-footer">
            <div>LIGUE 1 DÉCATHLON</div>
            <div>LIGUE 2</div>
            <div>LIGUE ENTREPRISE</div>
            <div>LIGUE VÉTÉRAN</div>
            <div>LIGUE FÉMININE </div>
            <div>LIGUE ETUDIANTE</div>
            <div>ANNIVERSAIRE KIDS</div>
            <div>E-LIGUE</div>
        </div>

    </div>

    <div>
        <div class="title-footer">INFORMATION</div>
        <div class="left-footer">
            <div>NOS OFFRES</div>
            <div>COMPTE</div>
            <div>RESERVATION</div>
            <div>MENTION LEGALE</div>
            <div>POLITIQUE COOKIES</div>
            <div>LIGUE ETUDIANTE</div>
            <div>E-LIGUE</div>
        </div>
    </div>

    <div>
        <div class="title-footer">OFFSIDE</div>
        <div class="left-footer">
            <div>14 Rue de la Canave<br>33650 Martillac<br>05 56 72 89 92</div>
            <div class="flex-logo-footer">
                <div>
                    <img src="../../assets/images/discord.svg">
                </div>
                <div>
                    DISCORD
                </div>
            </div>

            <div class="flex-logo-footer">
                <div>
                    <img src="../../assets/images/instagram.svg">
                </div>
                <div>
                    INSTAGRAM
                </div>
            </div>

            <div class="flex-logo-footer">
                <div>
                    <img src="../../assets/images/facebook.svg">
                </div>
                <div>
                    FACEBOOK
                </div>
            </div>

            <div class="flex-logo-footer">
                <div>
                    <img src="../../assets/images/linkedin.svg">
                </div>
                <div>
                    LINKEDIN
                </div>
            </div>

        </div>
