<app-navbar></app-navbar>
<section class="offres-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <div class="cells">
                <form class="form" action="">
                    <h1>Contact</h1>
                    <div class="input-container">
                        <input type="text" placeholder="Nom Prenom">
                    </div>

                    <div class="double-input-container">
                        <input type="email" placeholder="mail">
                        <input type="text" placeholder="Numero de tel">
                    </div>

                    <div class="input-container">
                        <select  name=""  id="">
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <textarea name="" placeholder="Message" id="" cols="30" rows="5"></textarea>
                    </div>

                    <div class="input-container">
                        <input class="submit" type="submit">
                    </div>
                </form>
            </div>
            <a routerLink="/kid" class="cells container" >

                <app-fake-border></app-fake-border>
                <div class="img-title-container">
                    <h2>05 56 72 89 92</h2>
                </div>

            </a>
            <a routerLink="/kid" class="cells container" >

                <app-fake-border></app-fake-border>
                <div class="img-title-container">
                    <h2>contact@offside.fr</h2>
                </div>

            </a>
        </div>
        <app-map-icon></app-map-icon>
    </div>

</section>
