<section class="offres-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <a routerLink="/kid-birthday">
                <h2> Anniversaire kid</h2>
            </a>
            <a routerLink="/kid-stage">
                <h2>Stage kid</h2>
            </a>
            <a routerLink="/kid">
                <h2>Soirée privé</h2>
            </a>
            <a routerLink="/kid">
                <h2>Tournois</h2>
            </a>
            <a routerLink="/kid">
                <h2>Tennis ballon</h2>
            </a>
            <a routerLink="/kid">
                <h2>Bubble foot</h2>
            </a>
        </div>
        <app-map-icon></app-map-icon>
    </div>
            
</section>