<section class="pizzeria-container">
  <div class="grid-wrapper">
    <div class="grid-container">
        <div class="pizza-width">
          <app-fake-border></app-fake-border>
          <div class="pizza-carte-container">
            <h1 class="color-title">PIZZERIA</h1>

            <div class="carte-pizzas">
              <div class="elements-cartes">
                <p> REINE </p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
              <div class="elements-cartes">
                <p> SAUMON </p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
              <div class="elements-cartes">
                <p> CHEVRE MIEL</p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
              <div class="elements-cartes">
                <p> 4 FROMAGES</p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
              <div class="elements-cartes">
                <p> CHORIZO</p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
              <div class="elements-cartes">
                <p> POULET</p>
                <p class="petits-points-pizzas"> </p>
                <p> 11,00 </p>
              </div>
            </div>
          </div>
        </div>
        <div class="pizza-width center-pizza-width">
          <app-fake-border></app-fake-border>
          <img class="pizza-img" src="../../assets/images/pizza.jpg" alt="Image de pizza">
        </div>

    </div>
</div>
</section>
