<section class="offres-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <div routerLink="/kid-birthday">
                <h2> Anniversaire kid</h2>
                <p>
                    + 6 à 8 équipes qui s'affronte pour remporter la coupe 
                </p>
                <p>
                    + Tout le plaisir du football sans les inconvénients : un maximum de ballons touchés et un maximum de buts - jusqu'à plusieurs dizaines par partie !
                </p>
                <p> 
                    + Des matchs toute l’année
                </p>
                <p>
                    +  Le fair-play avant tout : pas de tacle, pas de contact et l'esprit de convivialité d'autant plus renforcé lors de la 3ème mi-temps au sports bar !
                </p>
                <p> 
                    +  Un sport permettant se défouler sur une courte durée avec ses potes !
                </p>
            </div>
            <div routerLink="/kid">
                <h2>Carousel</h2>
            </div>
            <div routerLink="/kid">
                <h2>Réserver</h2>
            </div>
        </div>
        <app-map-icon></app-map-icon>
    </div>
            
</section>