@import '../_variables.scss'; 

.offres-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    // background-image: url('https://xboxplay.games/uploadStream/7953.jpg');
    // background-size: 100%;
    // background-repeat: no-repeat;
}



.grid-wrapper{

    width: 80%;
    height: 60%;
    position: relative;
    margin-left: 5%;
}

.grid-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    height: 100%;

   

    div{
        background-color: $red;
        color: $black;
    }

    div:nth-child(1) { grid-area: 1 / 1 / 4 / 2; }
    div:nth-child(2) { grid-area: 1 / 2 / 3 / 3; }
    div:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
}