<section class="home-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <div></div>
            <div>
                <h2>Pizzeria</h2>
            </div>
            <div>
                <h2>Terrains</h2>
            </div>
            <div>
                <h2>Bar</h2>
            </div>
            <div>
                <h2>Video</h2>
            </div>
            <div>
                <p>Slide avec info importante (soirée ldc, after work)</p>
            </div>
        </div>
        <app-map-icon></app-map-icon>
    </div>
            
</section>