<section class="home-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <div class="img-container">
                <img src="../../assets/images/video-homepage.jpg" alt="">
                <img class="play" src="../../assets/images/icons/play.svg" alt="">
            </div>
            <div>
                <h2>Pizzeria</h2>
                <img src="../../assets/images/icons/pizza.svg" alt="">
            </div>
            <div>
                <h2>Terrains</h2>
                <img src="../../assets/images/icons/soccer-field.svg" alt="">
            </div>
            <div>
                <h2>Bar</h2>
                <img src="../../assets/images/icons/bar.svg" alt="">
            </div>
            <div>
                <h2>Video</h2>
                <img src="../../assets/images/icons/video.svg" alt="">
            </div>
            <div class="img-container">
                <img src="../../assets/images/soiree.jpg" alt="">
            </div>
        </div>
        <app-map-icon></app-map-icon>
    </div>
            
</section>