<section class="offres-container">
    <div class="grid-wrapper">
        <div class="grid-container">
            <a routerLink="/after-work">
                <h2> After work</h2>
            </a>
            <a routerLink="/seminar">
                <h2>Seminaire</h2>
            </a>
            <a routerLink="/private-party">
                <h2>Soirée privé</h2>
            </a>
            <a routerLink="/tournament">
                <h2>Tournois</h2>
            </a>
            <a routerLink="/partenariat">
                <h2>Partenariat</h2>
            </a>
            <a routerLink="/publicite">
                <h2>Publicité</h2>
            </a>
        </div>
        <app-map-icon></app-map-icon>
    </div>
            
</section>